@import url("https://cdn.staticfile.org/font-awesome/4.7.0/css/font-awesome.css");

/*滚轮颜色*/
::-webkit-scrollbar-thumb {
    background-color: #3d3d3d;
}
/*滚轮背景色*/
::-webkit-scrollbar {
    width: 8px;	
    background-color: #FFFFFF;
}
/*选中时颜色*/
::selection {
    color: #FFFFFF;
    background-color: #e9141b;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Roboto Slab",serif;
    font-weight: bold;
}



body{
	margin: 0;
	padding: 0;
}
main .Alice-main{
	width: 100vw;
	height: 100vh;
}
.Author{
	transform: translateY(-50%);
    text-align: center;
    top: 50%;
    position: relative;
}
.Author main::after{
	content: '';
	display: block;
	width: 100px;
	height: 5px;
	border-radius: 5px;
	margin: 0 auto;
	background: #3d3d3d;
	z-index: -1;
	transition: all 0.5s;
}

.Author .img{
	width: 190px;
	height: 190px;
	border-radius: 50%;
	transition: all 0.5s;
}


.Author .name{
    margin: 0;
    font-size: 2.5rem;
    transition: all 0.1s;
}

.Author .text{
	font-size: 80%;
	font-family: "Times New Roman";
}


@media screen and (max-width: 600px){
.Author .img{
	width: 160px;
	height: 160px;	
}
.Author .name{
    margin: 0;
    font-size: 2rem;
}
.Author a{
	font-size: 3rem;
}
}







