    body{
      padding: 0;
      margin: 0;
    }
    .sakura-body{
	  width: 100%;
	  height: 100vh;    	
    }
    .sakura-main{
	  width: inherit;
	  height: inherit;
    }
    .sakura-center{      
      transform: translateY(-50%);
      text-align: center;
      top: 50%;
      margin: 0 auto;
      position: relative;
    }
    .sakura-center>img{
      width: 200px;
      height: 200px;
      border-radius: 50%;
      transition: all 0.2s;
    }
    .sakura-center>h1{
      margin: 0;
      font-size: 2.5rem;
      transition: all 0.2s;   
    }
    .sakura-center>.text{
      font-size: 80%;
    }
    .container {
      display: -webkit-flex;
      display: flex;
      -webkit-justify-content: center;
      justify-content: center;
      width: 100%;
      height: auto; 
    }
    .container svg{
      margin: 0 5px;
    }



@media screen and (max-width: 600px) {
    .sakura-center>img{
      width: 180px;
      height: 180px;
    }    
    .sakura-center>h1{
      margin: 0;
      font-size: 2rem;
    }
}

 

