:root{
	--wihte:#FFFFFF;
	--black:#1f1f1f;
}



/*滚轮颜色*/
::-webkit-scrollbar-thumb {
    background-color: #3d3d3d;
}
/*滚轮背景色*/
::-webkit-scrollbar {
    width: 8px;	
    background-color: #FFFFFF;
}
/*选中时颜色*/
::selection {
    color: #FFFFFF;
    background-color: #e9141b;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Roboto Slab",serif;
    font-weight: bold;
}

body{
	margin: 0;
	padding: 0;
	transition: background 0.5s;
}




/* 白天 */
body[theme="wihte"]{
	color: var(--black);
	background: var(--wihte) ;
}
/* 黑夜 */
body[theme="black"]{
	color: var(--wihte);
	background: var(--black);
}


    /*theme*/
    label[type="theme"]{
        cursor: pointer;
    }
    label[type="theme"] input{
        display: none;
    }
    label[type="theme"] div{
        display: inline;
    }
    label[type="theme"] div::before{
        content: '黑';
        padding: 8px;
        color: white;
        background: black;
    }

    label[type="theme"] input:checked + div::before{
        content: '白';
        color: black;      
        background: white;  
    }



.main{
	width: 100vw;
	height: 100vh;
}
.min{
    transform: translateY(-50%);
    text-align: center;
    top: 50%;
    position: relative;
}


.author__img{
	width: 190px;
	height: 190px;
	-webkit-width:;
	border-radius: 50%;
	transition: border-radius 0.15s;
}
.author__name{
    margin: 5px 0;
	letter-spacing:5px;
    transition: all 0.2s;
	animation: fade-in 0.3s;
	-webkit-animation: fade-in 0.3s;
}
.author__name:first-letter{
	color: #FFF;
	background: #f66;
}
.author__txt{
	font-size: 80%;
	letter-spacing:0.5em;
	font-family: "Times New Roman";
	transition: all 0.3s;
	animation: fade-in 0.4s;
	-webkit-animation: fade-in 0.4s;
}
.author__text{
	font-size: 80%;
	letter-spacing:1em;
	font-family: "Times New Roman";
	transition: all 0.3s;
	animation: fade-in 0.5s;
	-webkit-animation: fade-in 0.5s;
}
.author__text::before{
	content: '"';
}
.author__text::after{
	content: '"';
}















@media (min-width: 600px) and (min-width: 1000px){
.author__img{
	width: 220px;
	height: 220px;	
 }
.author__name{
    font-size: 2.3rem;
 }
}


@media (min-width: 200px) and (max-width: 600px) {
.author__img{
	width: 160px;
	height: 160px;	
 }
.author__name{
    font-size: 2rem;
}	
.author__txt{
	letter-spacing: 0.3rem;
}
.author__text{
	letter-spacing: 0.3rem;
} 
}


@media (min-width: 0px) and (max-width: 200px) {
.author__img{
	width: 100%;
	height: auto;	
	border-radius: 0;
}
.author__name{
    font-size: 1.5rem;
}	
.author__txt{
	letter-spacing: 0rem;
}
.author__text{
	letter-spacing: 0rem;
} 
}


@keyframes fade-in {  
    0% {opacity: 0;transform: translateY(60%);}/*初始状态 透明度为0*/  
    100% {opacity: 1;transform: translateY(0);}/*结束状态 透明度为1*/  
}  
@-webkit-keyframes fade-in {/*针对webkit内核*/  
    0% {opacity: 0;transform: translateY(60%);}  
    100% {opacity: 1;transform: translateY(0);}  
}  
